<% if (errors && errors.length) { %>
  <div class="rounded-lg border border-red-500/30 bg-red-500/10 p-4 text-sm text-red-200">
    <ul class="list-disc space-y-1 pl-5">
      <% errors.forEach((error) => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  </div>
<% } %>
